@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  color: #333;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand";
  font-size: 1.6rem;
  background-color: #E5E5E5;
  margin: 1rem 3rem;
}

.header {
  max-width: 480px;
  margin: 3rem auto;
  color: teal;
  padding-bottom: 2rem;
  border-bottom: 2px solid #000;
  font-size: 3rem;
}

.card {
  max-width: 42rem;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin: 4rem auto;
}
#card__img-1 {
  width: 100%;
  border-radius: 1rem;
}

.card__desc {
  margin: 3rem 0;
}

.desc__text {
  margin: 2rem 0;
}

.desc__btn {
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  background-color: teal;
  padding: 1rem 2rem;
}